/* Google Font: 'Roboto' (300, 400, 700) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* CSS Meyer Reset */
@import url('./meyer-reset.css');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: green;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#gameboard {
  background-color: white;
  width: 500px;
  height: 500px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2px;
  padding: 2px;
  border-radius: 5px;
}

.gameboard-tile {
  background-color: chocolate;
  border-radius: 5px;
}

footer {
  width: 100%;
  padding-bottom: 25px;
  
  display: flex;
  justify-content: center;
  gap: 30px;

  font-size: 1.4rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#github-repo-link {
  text-decoration: none;
}

#github-repo-link:hover {
  text-decoration: underline;
}

#personal-links {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

#personal-links > a > img:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

#personal-links > a > img {
  height: 50px;
}
